:root{
    --dark-background: #272822;
    --light-background: #F5E5D5;
    --background-color: var(--dark-background);

    --highlight-color: #f92672;

    --dark-title-color: #d4d4dc;
    --light-title-color: #272822;
    --title-color: var(--dark-title-color);

    --dark-box-shadow: 0 0 15px #191A19;
    --light-box-shadow: 0 0 15px #f0d7bf;
    --box-shadow: var(--dark-box-shadow);

    --dark-cell-border: #fd971f;
    --light-cell-border: #ec8000;
    --cell-border: var(--dark-cell-border);

    --mobile-threshold: 640px;

    --background-color-animation: var(--dark-background) var(--light-background);

    font-size: 16px;
}

@font-face {
    font-family: DejaVuSans;
    src: url(DejaVuSans-Bold.ttf);
}

@font-face {
    font-family: NotoSansMono;
    src: url(NotoSansMono-Regular.ttf);
}

html, body {
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    box-sizing: border-box;
}

@property --o {
    syntax: '<length-percentage>+';
    initial-value: 50%;
    inherits: false
}

@property --pos {
    syntax: '<length-percentage>';
    initial-value: 0%;
    inherits: false
}

@property --c0 {
    syntax: '<color>';
    initial-value: red;
    inherits: false
}

@property --c1 {
    syntax: '<color>';
    initial-value: red;
    inherits: false
}

/*body {*/
/*    --c0: var(--light-background);*/
/*    --c1: var(--dark-background);*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    font-size: 18px;*/
/*    padding: 4vh 5%;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 4vh;*/

/*    background: radial-gradient(circle at 94% 6%,*/
/*    var(--c0) var(--pos, 0%), var(--c1) 0);*/
/*    animation: a 0s infinite;*/
/*    animation-name: c0, o, pos, c1;*/
/*    animation-duration: 2s, 20s, 1s;*/
/*    animation-timing-function: steps(1), steps(1), ease-in-out;*/
/*}*/

/*@keyframes pos { 90%, 100% { --pos: 100% } }*/

/*@keyframes c0 { 50% { --c0: #{nth($c, 2)} } }*/

/*@keyframes c1 { 50% { --c1: #{nth($c, 1)} } }*/


body {
    --c0: var(--light-background);
    --c1: var(--dark-background);
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 4vh 5%;

    display: flex;
    flex-direction: column;
    gap: 4vh;

    background: radial-gradient(
        circle at var(--x, 0) var(--y, 0),
        var(--gc0, var(--c0)) var(--stop, 0%),
        var(--gc1, var(--c1)) 0);
    background-size: 100vw 100vh;
}

/*body:after {*/
/*    !* just to prettify stuff *!*/
/*    !* use absolute positioning because*/
/*	 * margin: 0 on body*/
/*	 * breaks Edge for some reason *!*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    font: calc(16vmin + 3rem)/100vh Leckerli One, cursive;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    content: 'Click!';*/
/*}*/

/*@supports (mix-blend-mode: screen) {*/
/*    body:after {*/
/*        !* in supports because*/
/*		 * background: inherit*/
/*		 * breaks Edge for some reason*/
/*		 * (sorry, I had no better idea) *!*/
/*        background: inherit;*/
/*        -webkit-background-clip: text;*/
/*        background-clip: text;*/
/*        color: transparent;*/
/*        filter: invert(1) grayscale(1) contrast(3);*/
/*    }*/
/*}*/


header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    color: var(--title-color);
    font-family: DejaVuSans, sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-align: left;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    height: 100%;
    margin: 0;
    position: relative;
}

header h1 span {
    position: relative;
    top: 0;
}

header h1 strong {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
}

#themeButton {
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}

#themeButton img.hide {
    display: none;
}

main {
    display: flex;
    flex-direction: row;
    height: 80%;
    flex-wrap: wrap;
}

main > section {
    flex-grow: 1;
    min-width: min(100%, 400px);
    display: inline-block;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

#codeBlocks {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#editor,
.box {
    color: var(--title-color);
    border-style: solid;
    border-width: 0;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    border-color: var(--title-color);
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    background-color: transparent;
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    box-sizing: border-box;
    outline: 1px solid #606060;
}



#Text {
    display: inline-block;
    width: 100%;
    height: 68%;
    box-sizing: border-box;
    margin-right: 50px;
    position: relative;
}

#editor {
    font-size: 1rem;
    width: 100%;
    height: 82%;
    padding: 20px;
    resize: none;
    box-sizing: border-box;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#textBoxOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.9rem;
    gap: 1rem;
    flex-wrap: wrap;
}

#lang_container {
    width: 75px;
    position: relative;
}

#lang_options {
    width: 75px;
    display: inline-block;
    position: absolute;
    font-size: 16px;
    transition: all 300ms ease-out;
    box-shadow: var(--box-shadow);
    overflow-y: hidden;
}

#lang_options p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.lang_item:hover{
    background-color: #31322D;
}

.arrow {
  border: solid var(--highlight-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  left: 71%;
  top: 7px;
  transition: all 300ms ease-out;
}

#lineController {
    --highlight-color: var(--cell-border);
    display: none;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}

@media (width < 640px) {
    #lineController {
        width: 100%;
        flex-grow: 1;
    }
    #lineController button {
        flex-grow: 1;
    }
    .flex-buttons {
        width: 100%;
        flex-grow: 1;
    }
}

#lineController.show {
    display: flex;
}

#compileButton {
    display: block;
}

#compileButton,
#lineController button {
    transition: all 150ms ease-out;
    box-shadow: var(--box-shadow);
    padding: 0 0.5rem;
}

#compileButton:hover,
#lineController button:hover {
    transform: scale(0.99);
    box-shadow: var(--box-shadow), 0 0 3px 0 var(--highlight-color);
}

.button {
    border: 1px solid var(--highlight-color);
    box-shadow: var(--box-shadow), 0 0 3px 0 var(--highlight-color);
    border-radius: 20px;
    height: 29px;
    background-color: transparent;
    color: var(--highlight-color);
    font-family: Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

#Blocks {
    vertical-align: top;
    width: 100%;
    height: 26%;
}

#inputBlock {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-left: 0;
    vertical-align: top;
}

#outputBlock {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-right: 0;
    vertical-align: top;
    float: right;
}

label, 
h2 {
    color: var(--highlight-color);
    vertical-align: top;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    font-size: 1rem;
}

#Blocks p,
#Blocks label {
    text-align: center;
}

#inputC {
    width: 100%;
    height: 75%;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 13px;
    white-space: pre-line;
    margin: 0;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace; 
    line-height: 20px;
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    box-sizing: border-box;

}

#outputC {
    width: 100%;
    height: 75%;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 13px;
    white-space: pre-line;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    line-height: 20px;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: left;
    box-sizing: border-box;
}

footer {
    color: #eaeaea;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    bottom: 1%;
    vertical-align: bottom;
}

footer a {
    color: #66d9ef;
    text-decoration: none;
}



/*Ace editor custom style*/
#editor.running .ace_marker-layer .ace_active-line {
    background: #fd971f2e;
}

#editor.running .ace_gutter-layer .ace_gutter-active-line {
    background: var(--cell-border);
    color: transparent;
}

#editor.compiler-error .ace_marker-layer .ace_active-line {
    background: rgba(253, 31, 31, 0.18);
}
#editor.compiler-error .ace_gutter-layer .ace_gutter-active-line {
    background: #fd1f1f;
    color: transparent;
}

/*.ace_gutter-active-line::before {*/
/*    content: "→";*/
/*    color: var(--cell-border);*/
/*    font-size: 1.5rem;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    vertical-align: center;*/
/*}*/



