:root{
    --blocksColor: #272822;
    --titlesColor: #f92672;
    --outerColor: #d4d4dc;
    --cell-border: #fd971f;
    font-size: 16px;
}

@font-face {
    font-family: DejaVuSans;
    src: url(DejaVuSans-Bold.ttf);
}

@font-face {
    font-family: DepartureMono;
    src: url(DepartureMono-Regular.woff2);
}



html, body {
    height: 100%;
    overflow-y: hidden;
    margin: 0;
}



body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 0 5%;
    background-color: var(--blocksColor);
}


header {
    top: -20px;
    height: 20%;
}


header h1 {
    color: var(--outerColor);
    font-family: DejaVuSans, sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-align: left;
    font-size: 4vh;
    height: 100%
} 

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

main section {
    flex-grow: 1;
}

.box{
    color: var(--outerColor);
    border-style: solid;
    border-width: 0;
    box-shadow: 0 0 15px #191A19;
    border-radius: 5px;
    border-color: var(--outerColor);
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    background-color: var(--blocksColor);
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    box-sizing: border-box;
    outline: 1px solid #606060;
}


main > section {
    display: inline-block;
    width: 50%;
    height: 75%;
    box-sizing: border-box;
}

#memoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    position: relative;
    overflow: visible;
}

#memoryContainer h2 {
    color: var(--cell-border);
}

#memoryContainer > div {
    /*position: absolute;*/
    /*top: calc(-5rem * 5);*/
}


#Text {
    display: inline-block;
    width: 100%;
    height: 62%;
    box-sizing: border-box;
    margin-right: 50px;
    position: relative;
}

#textbox {
	width: 100%;
	height: 82%;
    padding: 20px;
    resize: none;
    box-sizing: border-box;
}



#lang_options {
    width: 75px;
    border: 0;
    display: inline-block; 
    margin-top: 15px;
    background-color: var(--blocksColor);
    color: var(--titlesColor);
    border-radius: 20px;
    position: absolute;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms ease-out;
    box-shadow: 0 0 15px #191A19;
    height: 29px;   
    overflow-y: hidden; 
}

#lang_options p{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}


.lang_item:hover{
    background-color: #31322D;
}

.arrow {
  border: solid var(--titlesColor);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  left: 71%;
  top: 7px;
  transition: all 300ms ease-out;
}



#textBoxOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


#button {
    display: block;
    background-color: transparent;
    color: var(--titlesColor);
    border-radius: 20px;
    height: 29px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: all 150ms ease-out;
    box-shadow: 0 0 15px #191A19;
    padding: 0 0.5rem;
}

#button:hover{
    transform: scale(0.99);
    box-shadow: 0 0 10px #191A19, 0 0 3px 0 var(--titlesColor);
}

#lang_options,
#button {
    border: 1px solid var(--titlesColor);
    box-shadow: 0 0 15px #191A19, 0 0 3px 0 var(--titlesColor);
}

#Blocks {
    vertical-align: top;
    width: 100%;
    height: 26%;
    padding-top: 20px;
}

#inputBlock {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-left: 0;
    vertical-align: top;
}

#outputBlock {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-right: 0;
    vertical-align: top;
    float: right;
}

label, 
h2 {
    color: var(--titlesColor);
    vertical-align: top;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    font-size: 1rem;
}

#Blocks p,
#Blocks label {
    text-align: center;
}

#inputC {
    width: 100%;
    height: 75%;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 13px;
    white-space: pre-line;
    margin: 0;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace; 
    line-height: 20px;
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    box-sizing: border-box;

}

#outputC {
    width: 100%;
    height: 75%;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 13px;
    white-space: pre-line;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    line-height: 20px;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: left;
    box-sizing: border-box;
}

footer {
    color: #eaeaea;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    bottom: 1%;
    vertical-align: bottom;
}

footer a {
    color: #66d9ef;
    text-decoration: none;
}





