:root {
	--cell-border: #fd971f;
}

.memory-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--cell-border);
	border-radius: 5px;
	color: white;
	width: 15rem;
	height: 5rem;
	font-family: Arial, sans-serif;
	position: relative;
	transition: box-shadow 0.2s ease-out;
	background-color: var(--blocksColor);
}

.memory-cell:hover {
	/*transform: scale(1.2);*/
	z-index: 2;
	box-shadow: 0 0 18px 1px var(--cell-border);
	cursor: pointer;
}

.memory-cell .address {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.6rem;
	border: 1px solid var(--cell-border);
	border-radius: 0 0 5px 0;
	padding: 0.15rem;
}

.memory-cell .name {
	position: absolute;
	bottom: 0.25rem;
	right: 0.25rem;
	font-size: 0.8rem;
}
