body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5%;
    padding-top: 1%;
}

header h1{
    color: #43796b;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
} 
body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5%;
    padding-top: 1%;
}

table{
    margin: 2.5%;
    margin-top: 25px;
    border-collapse: collapse;
    table-layout: fixed;
    display: inherit;
    width:200px;
    display: block;
}
table td{
    border: 1px solid black;
    text-align: center;
    width: 23%;
}

#textbox{
	width: 42%;
	height: 300px;
    padding: 20px;
    margin-right: 50px;
    margin-top: 25px;
}
#outputPtr{
    display: inline-block;
    vertical-align: top;
}
#outputBlock{
    vertical-align: top;
    float: right;
    display: inline;
    width: 20%;
    height: 30%;
}
#outputC{
    border: 1px solid black;
    border-color: #9fa0a0;
    padding: 30%;
    padding-top: 1%;
    padding-left: 1%;
    white-space: pre-line;
    height: 80px;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    background-color: #fcfcfc;
    overflow: scroll;
    overflow-x: hidden;
}
#outputBlock p{
    vertical-align: top;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-weight: 400;


}
#button{
    display: block;
}
