body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5%;
    padding-top: 1%;
}

header h1{
    color: #43796b;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
} 
body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    padding: 5%;
    padding-top: 1%;
}

table{
    margin: 2.5%;
    border-collapse: collapse;
    table-layout: fixed;
}
table td{
    border: 1px solid black;
    text-align: center;
    width: 23%;
}

#textbox{
	width: 42%;
	height: 300px;
    float: left;
    padding: 20px;
    margin-right: 50px;
}
p{
    
}